@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Bitter');
// Fonts
$font-family-lobster : 'Lobster Two', cursive;
$font-family-openSans: 'Open Sans', sans-serif;
$font-family-bitter   : 'Bitter', serif;

// Colors
$primary : #41beb6;
$secondary: #4ccfc1;
$darker-blue: #2da89b;
$button-bg: #3cc395;
$darken-gray: #a1a1a1;

